
body {
    background-color: #383D3B;
    font-family: 'Inder', sans-serif;
    color: #383D3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------------------- */
/* Header: */

header {
    background-color: #282A2A;
    border: 3px solid #282A2A;
    border-radius: 40px;
    width: 100%;
    color: #FFF1D6;
    display: flex;
    justify-content: space-around;
	align-items: center;
}

header a:hover {
    color: #FFB60A;
}

header a {
    color: #FFF1D6;
    text-decoration: none;
}

.logo {
    margin-left: -50px;
}

.logo img {
    width: 237px;
    height: 135px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin-right: 40px;
}

.socials {
    display: flex;
    gap: 15px;
}

header button {
    background-color: #FFF1D6;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #FFB60A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button img {
    width: 30px;
    height: 30px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* Body: */

body h1 {
    color: #C2320A;
    text-align: center;
    word-spacing: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* About Me area */
.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container h2 {
    color: #FFB60A;
    text-align: center;
}

.about-me-box {
    background-color: #FFB60A;
    border-radius: 15px;
    width: 700px;
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-text-box {
    background-color: #FFF1D6;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    width: 380px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-me-text {
    font-size: 18px;
    word-spacing: 1px;
}

.about-me-image {
    background-color: #FFF1D6;
    border-radius: 10px;
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

/* Education area */
.education-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-container h2 {
    color: #C2320A;
    text-align: center;
}

.education-box {
    background-color: #C2320A;
    border-radius: 15px;
    width: 700px;
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-school-box {
    background-color: #FFF1D6;
    width: 300px;
    height: 265px;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    text-align: justify;
    font-size: 19px;
}

.current-education-box {
    background-color: #FFF1D6;
    width: 300px;
    height: 265px;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    text-align: justify;
    font-size: 19px;
}

.title-education {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

/* Skills and Tools area */
.skills-tools-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-tools-container h2 {
    color: #FFB60A;
    text-align: center;
}

.skills-tools-container h4 {
    color: #FFF1D6;
    text-align: center;
}

.all-skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.skill-box {
    background-color: #FFF1D6;
    border: 2px solid #FFB60A;
    border-radius: 15px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-box img {
    width: 100%;
    height: 100%;
}

/* My Links area */
.my-links-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-links-container h2 {
    color: #C2320A;
    text-align: center;
}

.all-icons-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.my-links-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.my-links-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-img-background {
    width: 50px;
    height: 50px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.links-img-background img {
    width: 80%;
    height: 80%;
}

.links-text-background {
    width: 125px;
    height: 30px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: 1;
}

.my-links-box:hover {
    color: #FFB60A;
}

.links-text-background a {
    text-decoration: none;
    color: #C2320A;
}

.links-text {
    font-size: 15px;
    color: #C2320A;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------ */
/* Footer: */

footer {
    background-color: #282A2A;
    border: 3px solid #282A2A;
    border-radius: 40px;
    width: 100%;
    height: 125px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
	align-items: center;
}

footer .links-text-background {
    width: 150px;
    border: 2px solid #FFB60A;
}

footer .links-img-background {
    border: 2px solid #FFB60A
}

footer a {
    text-decoration: none;
    color: #FFF1D6;
}

.contact-me-box {
    background-color: #FFB60A;
    color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-left: -75px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-box:hover {
    color: #C2320A;
}

footer button {
    background-color: #FFF1D6;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #FFB60A;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------------------------- */
/* Portfolio.html: */

body h2 {
    color: #FFB60A;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.all-projects {
    width: 690px;
    height: 365px;
    background-color: #FFB60A;
    border: 10px solid #FFB60A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-info h4 {
    width: 375px;
    height: 40px;
    background-color: #FFF1D6;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-text {
    width: 375px;
    height: 250px;
    background-color: #FFF1D6;
    border: 5px solid #FFF1D6;
    border-radius: 10px;
}

.projects-images {
    width: 280px;
    height: 150px;
    background-color: #FFF1D6;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-images img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
