
body {
    background-color: #383D3B;
    font-family: 'Inder', sans-serif;
    color: #383D3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* -------------------------------------------------------------------------------------------------------- */
/* Header: */

header {
    background-color: #282A2A;
    border: 3px solid #282A2A;
    border-radius: 40px;
    width: 100%;
    color: #FFF1D6;
    display: flex;
    justify-content: space-around;
	align-items: center;
}

header a:hover {
    color: #FFB60A;
}

header a {
    color: #FFF1D6;
    text-decoration: none;
}

.logo {
    margin-left: -50px;
}

.logo img {
    width: 237px;
    height: 135px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 200px;
    margin-right: 40px;
}

.socials {
    display: flex;
    gap: 15px;
}

header button {
    background-color: #FFF1D6;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #FFB60A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button img {
    width: 30px;
    height: 30px;
}



/* ------------------------------------------------------------------------------------------------------------- */
/* Body: */

body h1 {
    color: #C2320A;
    text-align: center;
    word-spacing: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* About Me area */
.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-container h2 {
    color: #FFB60A;
    text-align: center;
}

.about-me-box {
    background-color: #FFB60A;
    border-radius: 15px;
    width: 700px;
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me-text-box {
    background-color: #FFF1D6;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    width: 380px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-me-text {
    font-size: 18px;
    word-spacing: 1px;
}

.about-me-image {
    background-color: #FFF1D6;
    border-radius: 10px;
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

/* Education area */
.education-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-container h2 {
    color: #C2320A;
    text-align: center;
}

.education-box {
    background-color: #C2320A;
    border-radius: 15px;
    width: 700px;
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.middle-school-box {
    background-color: #FFF1D6;
    width: 300px;
    height: 265px;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    text-align: justify;
    font-size: 19px;
}

.current-education-box {
    background-color: #FFF1D6;
    width: 300px;
    height: 265px;
    border: 10px solid #FFF1D6;
    border-radius: 10px;
    text-align: justify;
    font-size: 19px;
}

.title-education {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

/* Skills and Tools area */
.skills-tools-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-tools-container h2 {
    color: #FFB60A;
    text-align: center;
}

.skills-tools-container h4 {
    color: #FFF1D6;
    text-align: center;
}

.all-skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.skill-box {
    background-color: #FFF1D6;
    border: 2px solid #FFB60A;
    border-radius: 15px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-box img {
    width: 100%;
    height: 100%;
}

/* My Links area */
.my-links-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-links-container h2 {
    color: #C2320A;
    text-align: center;
}

.all-icons-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.my-links-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.my-links-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-img-background {
    width: 50px;
    height: 50px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.links-img-background img {
    width: 80%;
    height: 80%;
}

.links-text-background {
    width: 125px;
    height: 30px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: 1;
}

.links-text-background a {
    text-decoration: none;
    color: #C2320A;
}

.links-text {
    font-size: 15px;
    color: #C2320A;
    text-align: center;
}

/* Back to top arrow */
#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  background-color: #C2320A;
  color: #FFF1D6;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#backToTop.show {
  opacity: 1;
  pointer-events: auto;
}

#backToTop:hover {
  background-color: #FFB60A;
}



/* ------------------------------------------------------------------------------------------------ */
/* Footer: */

footer {
    background-color: #282A2A;
    border: 3px solid #282A2A;
    border-radius: 40px;
    width: 100%;
    height: 125px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
	align-items: center;
}

footer .links-text-background {
    width: 150px;
    border: 2px solid #FFB60A;
}

footer .links-img-background {
    border: 2px solid #FFB60A
}

footer a {
    text-decoration: none;
    color: #FFF1D6;
}

.contact-me-box {
    background-color: #FFB60A;
    color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-left: -75px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-box:hover {
    color: #C2320A;
}

footer button {
    background-color: #FFF1D6;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid #FFB60A;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* -------------------------------------------------------------------------------------------------------- */
/* Projects.html: */

body h2 {
    color: #FFB60A;
    text-align: center;
}

.projects-introduction-text {
    color: #FFF1D6;
    text-align: center;
}

.project-options select {
    height: 30px;
    width: 275px;
    font-size: 15px;
    border: 3px solid #C2320A;
    border-radius: 7px;
    background-color: #FFF1D6;
    color: #C2320A;
}

.project-options option {
    height: 30px;
    width: 275px;
    font-size: 15px;
    border: 2px solid #C2320A;
    border-radius: 7px;
    background-color: #FFF1D6;
    color: #C2320A;
}

.project-options option:hover {
    background-color: #C2320A;
}

.white-space {
    height: 25px;
}

.space-between {
    height: 50px
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.all-projects {
    width: 690px;
    height: 365px;
    background-color: #FFB60A;
    border: 10px solid #FFB60A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.projects-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-info h4 {
    width: 375px;
    height: 40px;
    background-color: #FFF1D6;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-text {
    width: 375px;
    height: 250px;
    background-color: #FFF1D6;
    border: 5px solid #FFF1D6;
    border-radius: 10px;
}

.projects-images {
    width: 280px;
    height: 150px;
    background-color: #FFF1D6;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-images img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

body a {
    text-decoration: none;
}

.show-in-git {
    color: #383D3B;
    background-color: #FFF1D6;
    border: 2px solid #FFB60A;
    border-radius: 10px;
    height: 30px;
    width: 115px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-in-git:hover {
    color: #FFB60A
}

.all-projects-red {
    width: 690px;
    height: 365px;
    background-color: #C2320A;
    border: 10px solid #C2320A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.projects-info-red {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-info-red h4 {
    width: 375px;
    height: 40px;
    background-color: #FFF1D6;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-text-red {
    width: 375px;
    height: 250px;
    background-color: #FFF1D6;
    border: 5px solid #FFF1D6;
    border-radius: 10px;
}

.projects-images-red {
    width: 280px;
    height: 325px;
    background-color: #FFF1D6;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-images-red img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.show-in-git-red {
    color: #383D3B;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    height: 30px;
    width: 115px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-in-git-red:hover {
    color: #C2320A
}



/* --------------------------------------------------------------------------------------------- */
/* Contact.html: */

.contact-lead-text {
    color:#FFF1D6;
    text-align: center;
}

.all-contact-links {
    width: 500px;
    height: 200px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
    gap: 15px;
}

.contact-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-image {
    width: 50px;
    height: 50px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contact-me-image img {
    height: 80%;
    width: 80%;
}

.contact-me-font {
    width: 125px;
    height: 30px;
    background-color: #FFF1D6;
    border: 2px solid #C2320A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: 1;
}

#copyBtn:hover {
    color: #C2320A;
}

.contact-me-font a {
    color: #C2320A
}

.contact-me-font a:hover {
    color: #FFB60A;
}

.contact-me-image-gmail {
    width: 50px;
    height: 50px;
    background-color: #FFF1D6;
    border: 2px solid #FFB60A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contact-me-image-gmail img {
    height: 80%;
    width: 80%;
}

.contact-me-font-gmail {
    width: 125px;
    height: 30px;
    background-color: #FFF1D6;
    border: 2px solid #FFB60A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    z-index: 1;
}

#copyBtn {
    cursor: pointer;
    color: #FFB60A;
  }

.space-inbetween {
    height: 50px;
}



/* ------------------------------------------------------------------------------------------------------------- */
/* Responsive webdesign for mobile phone */

@media (max-width: 500px) {
    /* header: */
    header {
        border: 5px solid #282A2A;
        border-radius: 20px;
    }

    .logo img {
        width: 99px;
        height: 57px;
        margin-left: 50px;
    }

    nav ul {
        font-size: 10px;
        gap: 30px;
        margin-right: 40px;
    }

    .socials {
        display: flex;
        gap: 10px;
    }

    header button {
        width: 22px;
        height: 22px;
        border-radius: 50px;
    }

    .social-button img {
        width: 30px;
        height: 30px;
    }

    .social-button img {
        width: 15px;
        height: 15px;
    }

    /* body: */
    body h1 {
    word-spacing: 5px;
    font-size: 30px;
    }

    body h2 {
        font-size: 20px;
    }

    /* About Me area */
    .about-me-box {
        border-radius: 15px;
        width: 350px;
        height: 163px;
    }

    .about-me-text-box {
        border-radius: 10px;
        width: 180px;
        height: 125px;
    }

    .about-me-text {
        font-size: 8px;
        word-spacing: 1px;
    }

    .about-me-image {
        border-radius: 10px;
        width: 120px;
        height: 150px;
    }

    .about-me-image img {
        width: 90%;
        height: 90%;
        border-radius: 10px;
    }

    /* Education area */
    .education-box {
        border-radius: 10px;
        width: 350px;
        height: 163px;
    }

    .middle-school-box {
        width: 145px;
        height: 128px;
        border-radius: 5px;
        font-size: 10px;
    }

    .current-education-box {
        width: 145px;
        height: 128px;
        border-radius: 5px;
        font-size: 9px;
    }

    .title-education {
        font-size: 15px;
    }

    /* Skills and Tools area */
    .all-skills {
        gap: 45px;
    }

    .skill-box {
        border-radius: 10px;
        width: 45px;
        height: 45px;
    }
    
    .skills-container h4 {
        font-size: 12px;
    }

    /* My Links area */
    .all-icons-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .links-img-background {
        width: 25px;
        height: 25px;
        border-radius: 10px;
    }

    .links-text-background {
        width: 63px;
        height: 15px;
        border-radius: 5px;
    }

    .links-text {
        font-size: 10px;
    }

    /* Back to top arrow */
    #backToTop {
    position: fixed;
    bottom: 75px;
    right: 30px;
    font-size: 15px;
    }

    /* Footer: */
    footer {
        border-radius: 20px;
        height: 80px;
        width: 100%;
    }

    footer .links-text-background {
        width: 95px;
    }

    .contact-me-box {
        border-radius: 10px;
        width: 80px;
        height: 25px;
        margin-left: -15px;
        font-size: 10px;
    }

    footer button {
        width: 22px;
        height: 22px;
        border-radius: 50px;
    }

    /* Projects.html: */
    .project-options select {
        height: 30px;
        width: 250px;
    }

    .project-options option {
        height: 30px;
        width: 250px;
    }

    .all-projects {
        width: 355px;
        height: 201px;
        border-radius: 10px;
        gap: 10px;
    }

    .projects-info h4 {
        width: 210px;
        height: 30px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .projects-text {
        width: 205px;
        height: 125px;
        border-radius: 8px;
        margin-top: -10px;
    }

    .projects-images {
        width: 135px;
        height: 95px;
        border-radius: 10px;
        margin-top: 8px;
    }

    .projects-images img {
        width: 90%;
        height: 85%;
        border-radius: 8px;
    }

    .all-projects-red {
        width: 355px;
        height: 201px;
        border-radius: 10px;
        gap: 10px;
    }

    .projects-info-red h4 {
        width: 210px;
        height: 30px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .projects-text-red {
        width: 205px;
        height: 125px;
        border-radius: 8px;
        margin-top: -10px;
    }

    .projects-images-red {
        width: 135px;
        height: 180px;
        border-radius: 12px;
        margin-top: 15px;
    }

    .projects-images-red img {
        width: 85%;
        height: 90%;
        border-radius: 8px;
    }

    /* Contact.html: */
    .contact-lead-text {
    color:#FFF1D6;
    text-align: center;
    width: 50%;
    font-size: 18px;
    }

    .all-contact-links {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contact-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-me-image {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-me-font {
        width: 125px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -10px;
    }

    .space-inbetween {
        height: 100px;
    }
}
